@use 'typography' as *;

[flagInput] {
  @include typography-body;
  background-color: var(--flag-color-white);
  border: 1px solid transparent;
  border-radius: var(--flag-radius-sm);
  box-sizing: border-box;
  color: var(--flag-color-primary-500);
  height: var(--flag-size-xl);
  outline-color: var(--flag-color-primary-500);
  padding-inline: var(--flag-space-md);
  transition: background-color 150ms ease-in-out;

  &::placeholder {
    color: var(--flag-color-grey-500);
  }

  &:hover {
    background-color: var(--flag-color-primary-100);
  }

  &[error] {
    border-color: var(--flag-color-error-500);
  }

  &[readonly] {
    background-color: var(--flag-color-grey-300);
    border-color: transparent;
    pointer-events: none;

    &::placeholder {
      visibility: hidden;
    }
  }

  &[disabled] {
    background-color: var(--flag-color-grey-300);
    border-color: transparent;
    color: var(--flag-color-grey-500);
    pointer-events: none;

    &::placeholder {
      color: inherit;
    }
  }
}
