@use 'typography' as *;

[flagLabel] {
  @include typography-body;
  color: var(--flag-color-primary-500);

  &[required] {
    &::after {
      content: '*';
      padding-left: var(--flag-space-xs);
    }
  }
}
