@use '../../core/styles/typography' as *;

:host {
  @include typography-body;
  align-items: center;
  background-color: var(--flag-color-white);
  box-sizing: border-box;
  color: var(--flag-color-primary-500);
  cursor: pointer;
  display: grid;
  gap: var(--flag-space-sm);
  grid-template-columns: auto 1fr auto;
  min-height: var(--flag-size-xl);
  padding: var(--flag-space-md);
  transition: (
    color 150ms ease-in-out,
    background-color 150ms ease-in-out,
  );
  width: 100%;

  &:hover {
    background-color: var(--flag-color-primary-100);
    color: var(--flag-color-primary-600);
  }

  &:active,
  &.active {
    background-color: var(--flag-color-primary-200);
    color: var(--flag-color-primary-700);
  }

  &.disabled {
    background-color: var(--flag-color-grey-300);
    color: var(--flag-color-grey-500);
    pointer-events: none;
  }

  &:not(.interactive) {
    pointer-events: none;
  }
}