@use '../../core/styles/typography' as *;

:host {
  color: var(--flag-color-primary-500);
  display: grid;
  gap: var(--flag-space-sm);
}

p {
  @include typography-body-small;
  margin: 0;

  &:nth-of-type(2) {
    margin-top: calc(var(--flag-space-xs) * -1);
  }

  &.error {
    color: var(--flag-color-error-500);
  }
}
