@use '../../core/styles/typography' as *;

:host {
  @include typography-body-small-medium;
  align-items: center;
  background-color: var(--flag-color-primary-100);
  border-radius: var(--flag-radius-lg);
  box-sizing: border-box;
  color: var(--flag-color-primary-500);
  display: inline-flex;
  height: var(--flag-size-sm);
  padding-inline: var(--flag-space-md);

  &.dark {
    background-color: var(--flag-color-primary-500);
    color: var(--flag-color-white);
  }

  &.secondary {
    background-color: var(--flag-color-secondary-100);
    color: var(--flag-color-secondary-500);

    &.dark {
      background-color: var(--flag-color-secondary-500);
      color: var(--flag-color-white);
    }
  }

  &.success {
    background-color: var(--flag-color-success-100);
    color: var(--flag-color-success-600);

    &.dark {
      background-color: var(--flag-color-success-500);
      color: var(--flag-color-white);
    }
  }

  &.warning {
    background-color: var(--flag-color-warning-100);
    color: var(--flag-color-warning-600);

    &.dark {
      background-color: var(--flag-color-warning-500);
      color: var(--flag-color-white);
    }
  }

  &.error {
    background-color: var(--flag-color-error-100);
    color: var(--flag-color-error-600);

    &.dark {
      background-color: var(--flag-color-error-500);
      color: var(--flag-color-white);
    }
  }
}
