:host {
  color: var(--flag-color-primary-500);
  display: flex;
  font-family: var(--flag-font-family-primary);
  position: relative;
  width: 100%;
}

.line {
  background-color: var(--flag-color-primary-500);
  bottom: 0;
  height: 2px;
  left: 0;
  position: absolute;
  transition: all 200ms ease-in-out;
}
